<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zab.mmal.core.mapper.MmallPayInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zab.mmal.api.entity.MmallPayInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="pay_platform" property="payPlatform" />
        <result column="platform_number" property="platformNumber" />
        <result column="platform_status" property="platformStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
