<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zab.mmal.core.mapper.MmallProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zab.mmal.api.entity.MmallProduct">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="subtitle" property="subtitle" />
        <result column="main_image" property="mainImage" />
        <result column="sub_images" property="subImages" />
        <result column="detail" property="detail" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
